.action-field {
    -fx-padding: 0 0 10 10;
    -fx-spacing: 10;
}
.action-num-scene{
    -fx-text-fill: #ffffff;
    -fx-padding: 0 10 0 0;
    -fx-font-size: 14;
    /*-fx-font-weight: bold;*/
}

.action-button{
    -fx-background-color: transparent;
}
.action-button:disabled{
    -fx-text-fill: #6e6b72;
}
.anchor{
    -fx-fill: #ec008c;
    -fx-stroke: #ffffff;
}
.bind-line{
    -fx-stroke: #ffffff;
    -fx-stroke-width: 2;
    -fx-stroke-dash-array: 7 5;
}

Field {
    -fx-background-color: #2f3038;
}
BorderPane {
    -fx-background-color: #18181d;
}
.text-hint{
    -fx-background-color: transparent;
    -fx-fill: #ec008c;
}

.text-hint:hover{
    -fx-background-color: transparent;
    -fx-fill: #ff0d96;
}

Text {
    -fx-fill: #ffffff;
}



